.form {
    padding-top: 6rem;
    padding-left: 3rem;
    /* height: 100vh; */
}
/* .red {
    color: red;
}
.blue {
    color: blue;
}
.border {
    width: 17.4rem;
}
.container {
    width: 40rem;
} */